{%  extends 'base.html' %}

{% block content %}

<style>
    .container div {
    margin: 0 auto;
    width: 25%;
    padding-top: 10px;
    }
    
</style>


<div class="container">
    <br>
    <h1>Add Student</h1><hr>
    <form method="POST" action="">
        {% csrf_token %}
        ID<br>
        {{form.sid}}
        <br>
        Name<br>
        {{form.sname}}
        <br>
        Date of birth<br>
        {{form.dob}}
        <br>
        Branch<br>
        {{form.branch}}
        <br>
        Year<br>
        {{form.year}}
        <br>
        <br>
        <input type="submit" name="Add">
    
    </form>
    
</div>


{% endblock %}