{%  extends 'base.html' %}

{% block content %}





<div class="row">
    <div class="col-md">
        <br><br>
        <div class="card card-body">
            <h1 style="text-align: center;">Book Table</h1>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Book ID</th>
                    <th>Name</th>
                    <th>ISBN</th>
                    <th>Author</th>
                </tr>
                {% for i in books %}
                <tr>
                    <td>{{i.bid}}</td>
                    <td>{{i.bname}}</td>
                    <td>{{i.isbn}}</td>
                    <td>{{i.author}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}