{%  extends 'base.html' %}

{% block content %}



<h1>Issue Table</h1>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        Student ID
        {{form.s_id}}
        <br><br>
        Student Name
        {{form.s_name}}
        <br><br>
        Book ID
        {{form.b_id}}
        <br><br>
        Book Name
        {{form.b_name}}
        <br><br>
        Date of Issue
        {{form.dateofissue}}
        <br><br>
        <br>
        <input type="submit" name="Add">
    
    </form>
    
</div>
    


{% endblock %}