{%  extends 'base.html' %}

{% block content %}



<h1>Login Up</h1>
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <input type="username" name="username" placeholder="username">
        <br><br>
        <input type="password" name="password" placeholder="password">
        <br><br>

        {{form.password1.label}}
        {{form.password1}}
        <br><br>
        {{form.errors}}
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {%endfor%}
        <input type="submit" name="Login">
    
    </form>
    
</div>


{% endblock %}