{%  extends 'base.html' %}

{% block content %}

<h1>Menu Page</h1>
<div class="container">
    <a href="{% url 'addstudent' %}">Add Student</a>
    <br><br>
    <a href="{% url 'addbook' %}">Add Book</a>
    <br><br>
    <a href="{% url 'studenttable' %}">Student list</a>
    <br><br>
    <a href="{% url 'booktable' %}">Book list</a>
    <br><br>
    <a href="{% url 'issuetable' %}">Issue Book</a>
    <br><br>
    <a href="{% url 'showissuetable' %}">Issue Book List</a>
    <br><br>
    <a href="{% url 'returnbook' %}">Return Book</a>
    <br><br>
    <a href="{% url 'showreturnbook' %}">Return Book list</a>
</div>

{% endblock %}