{%  extends 'base.html' %}

{% block content %}

<h1>Menu Page</h1>
<div class="container">
    <input class="btn btn-primary" type="submit" value="Add student"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Add book"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Issue book"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Return book"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Issue book details"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Return book details"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Student details"></input>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Book details"></input>
</div>

{% endblock %}