{%  extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h1>Student Table</h1>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Stuent ID</th>
                    <th>Student Name</th>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Date of Issue</th>
                </tr>
                {% for i in issuebooks %}
                <tr>
                    <td>{{i.s_id}}</td>
                    <td>{{i.s_name}}</td>
                    <td>{{i.b_id}}</td>
                    <td>{{i.b_name}}</td>
                    <td>{{i.dateofissue}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}