{%  extends 'base.html' %}

{% block content %}

<style>
    .btn-primary{
        width: 200px;
        position: relative;
        left: 80%;
    }
</style>


<br><br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h1 style=" text-align: center;">Return Book Table</h1>
            <a href="{% url 'exportexcelreturnbook' %}" class="btn btn-primary">Export Excel</a>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Student ID</th>
                    <th>Book ID</th>
                    <th>Date of Return</th>
                    <th>Fine (Rs.)</th>
                </tr>
                {% for i in returnbooks %}
                <tr>
                    <td>{{i.sid2}}</td>
                    <td>{{i.bid2}}</td>
                    <td>{{i.dateofreturn}}</td>
                    <td>{{i.fine}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}